<mat-drawer-container class="container-fluid" autosize>

    <mat-drawer #drawer class="sidenav" hasBackdrop="true" mode="over" position="end">
        <span class="material-icons">account_circle</span>
        <nav class="nav flex-column navbar-dark pointer" routerLink="usuario" (click)="drawer.toggle()">
            <span class="material-icons" style="font-size:x-large;">confirmation_number</span><br>
            <a>Minhas Reservas</a>
        </nav>
        <nav class="nav flex-column navbar-dark pointer" routerLink="usuario" (click)="drawer.toggle()">
            <span class="material-icons" style="font-size:x-large;">settings</span><br>
            <a>Configurações</a>
        </nav>
        <nav class="nav flex-column navbar-dark pointer" routerLink="" (click)="sair()">
            <span class="material-icons" style="font-size:x-large;">logout</span><br>
            <a>Sair</a>
        </nav>
    </mat-drawer>
    <div class="container-fluid" style="background-image: url('assets/teatro.jpg');">
        <div class="login" style="text-align:right;">
            <button mat-stroked-button color="primary" title="Login" (click)=login() style="background-color: #fff;">{{user}}</button>
        </div>
        <button type="button" mat-button (click)="drawer.toggle()" id="pessoasMenu" style=" display:none">
            Toggle sidenav
          </button>


        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>